<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have 2 years of experience as a Software Engineer in Samsung Semiconductors India Research.
            I was part of the Firmware team that developed the Native NVMeoF spec compliant solution using
            RoCE (RDMA over Converged Ethernet) as the underlying transport medium. As a result, I have in-depth
            knowledge of the NVMe and NVMeoF protocols.
        </p>
        <p>
           Being from a Firmware background, I was naturally attracted to Linux. Recently, I have worked
           on Linux device drivers and filesystems. I have built a DMA driver for the Xilinx
           AXI DMA engine. This will be used by many projects in the <a href = "https://compas.cs.stonybrook.edu">
           Computer Architecture Lab @ Stony Brook University</a>.
        </p>
        <p>
           As a part of the Operating Systems coursework, I build a file system that automatically creates and
           manages backups of files when they are written to.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed a new Hardware Abstraction Layer (HAL) for the new NVMeOF controller.
    			</li>
          <li>
            Implemented majority of the new Fabric commands and all connection closing scenarios. (DREQ, KATO)
          </li>
          <li>
            As part of the Windows SSD Driver team, implemented a multi-threaded approach for cache comparison
            which led to an increase of 14% in Sequential Read performance.
          </li>
        </ul>
        <h3 style="margin-top:0;">Education</h3>
		    <ul>
    			<li>
            <b>STONY BROOK  UNIVERSITY</b></br>
            <b>Master of Science (Computer Science)</b></br>
            GPA – 3.84/4.00
    			</li>
          <li>
              <b>NATIONAL INSTITUTE OF TECHNOLOGY, WARANGAL</b>
              <b>Bachelor of Technology (Computer Science)</b></br>
              GPA – 8.15/10.00
          </li>
        </ul>
	    </div>
    </div>
  </div>
</section>
