<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technical</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		  <h3 style="margin-top:0">Recent Projects</h3>
			<ul>
			  <li>
					<b>Backup File System : </b>Designed and developed a new File System for Linux. 
					It creates and maintains N backups for a file. A user land utility 
					allows users to manage these backups using IOCTLs.
			  </li>
			  <li>
					<b>Encrypted Copy : </b>Implemented a new system call in the Linux Kernel which copies
					 the contents of one file to another, optionally encrypting or decrypting.					
			  </li>
			  <li>
					<b>Opinion Mining using Social Media Analysis : </b>Sentiment Analysis of Twitter data
					to extract positive or negative opinion about products.
					Used Machine Learning algorithms like CNNs and LSTMs, achieving an accuracy of 82.90%					
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Skills</h3>
		  <ul>
  			<li>
					<b>Languages</b></br>
					C, C++, SQL and Python
				</li>
				<li>
					<b>Operating Systems</b></br>
					Windows and Linux
				</li>
				<li>
					<b>IDEs</b></br>
					Visual Studio, Visual Studio Code, Xilinx SDK and Eclipse
				</li>
				<li>
					<b>Others</b></br>
					SVN, GitHub, JIRA, Rational Rose, Signavio Process Manager and Crucible
				</li>
  		</ul>
    </div>
  	</div>
  	</div>
</section>
